---
layout: esp-page
emailTemplate: includes/minimalist.html
---
{% assign agent = site.data.agents.haussmann %}

<div class="pa__page">
  <style>
    .pa__page-signature.pa__everest {color: {{agent.primary_colour}}; }
    .pa__page-signature.pa__everest a {color: {{agent.primary_colour}};}
    .pa__page-signature.pa__everest a:hover {color: {{agent.primary_colour2}};}
  </style>

  {% include project-azure/intro_02.html agent=agent %}

  <!--
  {% include_relative {{ page.emailTemplate }} agent=agent%}
  <span style="display:none">--></span>

  {% include project-azure/outro.html agent=agent %}

</div>
