
{% assign agent = include.agent %}

<style>
  .style-sapphire .pa__property-inner {
  border-top-color: {{ agent.primary_colour }};
  }
  .pa__title { color: {{ agent.primary_colour }}; }
  .pa__title:hover { color: {{ agent.primary_colour2 }}; }

  .style-harmony .button,
  .style-elegant .button {
  border-color: {{ agent.primary_colour }};
  color: {{ agent.primary_colour }};
  }
  .style-harmony .button:hover,
  .style-elegant .button:hover {
  background: {{ agent.primary_colour }};
  }
</style>