<footer class="footer has-background-black-ter">
  <div class="container">
    <p class="has-text-white-ter">
      Copyright &copy;&nbsp;<span id="footerCopy">2018</span>&nbsp;Crystal High-Tech Ltd
    </p>
    <script>
      (function() {
        document.getElementById('footerCopy').innerText = new Date().getFullYear();
      })();
    </script>
    <p><small>Main Photo by Lauren Mancke on Unsplash</small></p>
  </div>
</footer>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <!-- Any other elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>