---
layout: default-no-footer
emailTemplate: includes/elegant.html
---
{% assign agent = site.data.agents.everest %}

<div class="pa__page">
  <style>
    .pa__page-signature {color: {{agent.primary_colour}}; }
    .pa__page-signature a {color: {{agent.primary_colour}};}
    .pa__page-signature a:hover {color: {{agent.primary_colour2}};}
  </style>

  {% include project-azure/intro.html agent=agent %}

  <!--
  {% include_relative {{ page.emailTemplate }} agent=agent%}
  <span style="display:none">--></span>

  {% include project-azure/outro.html agent=agent %}

  <br/>
  <br/>
  <br/>
</div>
