---
---

.max-width-email {
  max-width: 800px !important;
  margin-left: auto;
  margin-right: auto;
}

.pa__title {
  margin: 24px 0 20px;
  font-size: 21px;
  display: block;
}
.pa__title__price {
  white-space: nowrap;
  margin-left: 10px;
}
.pa__subtitle {
  margin: 22px 0;
  display: block;
}
.pa__p {
  margin: 10px 0;
  display: block;
}