---
---

.pa-esp__main {
  padding-top: 1.5rem;
  padding-bottom: 0.75rem;
}

.pa-esp__brand {
  text-align: center;

  img {
    display: inline-block;
    vertical-align: bottom;
    width: 66px;
    margin-right: 10px;
    opacity: 0.5;
  }
}

.pa-esp__brand-title {
  white-space: nowrap;
  display: inline-block;
}

.pa-esp__email {
  min-height: calc(85vh - 45px);
  height: calc(85vh - 45px);
}

.footer {
  height: calc(15vh - 36px);
  min-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}