---
---

$title: #1177bc;
$harmony-title-padding: 10px;

.max-width-email {
  max-width: 660px !important;
  margin-left: auto;
  margin-right: auto;
}

.pa__properties {
  &.style-natural,
  &.style-harmony,
  &.style-modern {
    flex-wrap: wrap;
  }
}

.pa__property-inner {
  border: 1px solid #e1e1e1;
  height: 100%;
  .style-modern & {
    border: none;
  }
}

.pa__title {
  margin: 24px 0 20px;
  font-size: 18px;
  display: block;
  color: $title;

  &:hover {
    color: darken($title, 10%);
  }
  .style-natural &,
  .style-modern &,
  .style-harmony & {
    padding: 0 12px;
  }
  .style-natural & {
    font-size: 21px;
  }
  .style-harmony & {
    margin-top: $harmony-title-padding;
  }
}

.pa__title__price {
  white-space: nowrap;
  margin-left: 10px;
}

.pa__subtitle {
  margin: 20px 0;
  display: block;
  font-size: 90%;

  .style-minimalist & {
    margin: 22px 0;
  }
  .style-natural &,
  .style-modern &,
  .style-harmony & {
    padding: 0 12px;
  }
  .style-harmony & {
    margin-bottom: $harmony-title-padding;
    font-size: 85%;
  }
}

.pa__p {
  margin: 10px 0;
  display: block;

  .style-natural &,
  .style-modern &,
  .style-harmony & {
    padding: 0 12px;
  }
}

.pa__p-button {
  margin: 20px 0;
}

.button {
  .style-harmony & {
    border-color: $title;
    border-radius: 0;
    color: $title;
    font-size: 90%;

    &:hover {
      background: $title;
      color: #fff;
    }
  }
}

.pa__description {
  padding: 1px;
  position: relative;
  top: -20px;
  background: #fff;
  width: calc(100% - 20px);
  margin: 0 auto 30px;
}