---
---
@import "bulma";
@import "shared";

.lk-pages-hero {
  background: $works-color;
  text-align: center;

  a.navbar-item:hover,
  a.navbar-item.is-active,
  .navbar-link:hover,
  .navbar-link.is-active {
    color: $lead-color;
  }
}
.lk-posts-hero {
  background: $works-color;

  a.navbar-item:hover,
  a.navbar-item.is-active,
  .navbar-link:hover,
  .navbar-link.is-active {
    color: $lead-color;
  }
}

.lk-pages-author {
  .media {
    max-width: 600px;
    margin: 30px auto;
  }
  .media-left .image {
    border-radius: 100px;
    overflow: hidden;
  }
}

.lk-pages-header {
  position: relative;
  padding-top: 30px;
  margin-bottom: 30px;

  .lk-triangle {
    color: $works-color;

    &:first-child {
      display: none;
    }
    ~ .lk-triangle {
      top: 0;
    }
  }
  .title {
    color: #fff;
  }
}

$p-space: 30px;
$h-space: 8px;

.lk-pages-content {
  font-size: 21px;
  color: rgba(0,0,0,.84);
  letter-spacing: -.003em;
  line-height: 1.58;
  font-family: 'Source Serif Pro', serif;
  word-break: break-word;
  word-wrap: break-word;

  .container {
    max-width: 740px !important;
    width: 100% !important;
    padding: 0 20px ;
  }

  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: -.015em;
    margin: 56px 0 0 -2.5px !important;
  }

  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    margin: 30px 0 0 -1.5px !important;
    line-height: 1.22;
    letter-spacing: -.012em;
    color: rgba(0,0,0,.84);
  }

  p {
    margin: $h-space 0 0;
  }

  ol {
    margin-top: $h-space;
  }

  ul {
    margin-top: $h-space;

    li:before {
      content: '\2022';
      padding: 5px 15px 0 0;
      font-size: 16.8px;
      position: absolute;
      width: 50px;
      left: -50px;
      text-align: right;
    }
  }

  li {
    margin-left: 30px;
    margin-bottom: 14px;
    list-style-position: outside;
    position: relative;
  }

  blockquote {
    margin-top: $h-space;
    border-left: 3px solid currentcolor;
    padding-left: 30px;
    font-style: italic;
  }

  table {
    margin-top: $h-space;
    @extend .table;
    @extend .table, .is-fullwidth;
  }

  p, ol, ul, blockquote, table {
    & + p,
    & + ol,
    & + ul,
    & + blockquote,
    & + table {
      margin-top: $p-space;
    }
  }
}
.lk-pages-next-work {
  margin-top: $p-space * 2;
  align-items: center;
  justify-content: flex-end;

  .lk-image-container {
    margin-right: 0 !important;
    border-radius: 6px;
    border-color: $black;
  }

  .overlay {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $black;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.98) 30%, rgba(255, 255, 255, 0) 98%);

    h1 {
      margin: 0 !important;
      padding: 5px 10px;
    }

    small {
      font-size: 0.5em;
    }

    .fa-long-arrow-alt-right {
      top: 1px;
      position: relative;
    }
  }
}