---
---

$title: #1177bc !default;
$harmony-title-padding: 10px;
$elegant-title-padding: 12px;

.max-width-email {
  max-width: 660px !important;
  margin-left: auto;
  margin-right: auto;
}

.pa__properties {
  &.style-natural,
  &.style-harmony,
  &.style-elegant,
  &.style-sapphire,
  &.style-modern {
    flex-wrap: wrap;
  }
}

.pa__property-inner {
  border: 1px solid #e1e1e1;
  height: 100%;
  .style-modern & {
    border: none;
  }
  .style-sapphire & {
    border: none;
    border-top: 5px solid $title;
  }
}

.pa__title {
  margin: 24px 0 20px;
  font-size: 18px;
  display: block;
  color: $title;

  &:hover {
    color: darken($title, 10%);
  }
  .style-natural &,
  .style-modern &,
  .style-elegant &,
  .style-sapphire &,
  .style-harmony & {
    padding: 0 12px;
  }
  .style-natural & {
    font-size: 21px;
  }
  .style-harmony & {
    margin-top: $harmony-title-padding;
  }
  .style-elegant & {
    margin-top: $elegant-title-padding;
  }
}

.pa__title__price {
  white-space: nowrap;
  margin-left: 10px;
}

.pa__subtitle {
  margin: 20px 0;
  display: block;
  font-size: 90%;

  .style-minimalist & {
    margin: 22px 0;
  }
  .style-natural &,
  .style-modern &,
  .style-sapphire &,
  .style-elegant &,
  .style-harmony & {
    padding: 0 12px;
  }
  .style-harmony & {
    margin-bottom: $harmony-title-padding;
    font-size: 85%;
  }
  .style-elegant & {
    margin: -1.25em 0 $elegant-title-padding;
    position: relative;
  }
  .style-sapphire & {
    margin-top: 0;
  }
}

.pa__subtitle-inner {
  .style-elegant & {
    display: inline-block;
    background: black;
    border: 1px solid white;
    color: white;
    padding: 3px 5px;
    font-weight: 500;
  }
}

.pa__p {
  margin: 10px 0;
  display: block;
  font-weight: 300;

  .style-natural &,
  .style-modern &,
  .style-sapphire &,
  .style-elegant &,
  .style-harmony & {
    padding: 0 12px;
  }
}

.pa__p-button {
  margin: 20px 0;
}

.button {
  .style-harmony &,
  .style-elegant & {
    border-color: $title;
    border-radius: 0;
    color: $title;
    font-size: 90%;

    &:hover {
      background: $title;
      color: #fff;
    }
  }
}

.pa__description {
  padding: 1px;
  position: relative;
  top: -20px;
  background: #fff;
  width: calc(100% - 20px);
  margin: 0 auto 40px;
}

.pa__short-hr {
  display: block;
  text-align: center;
  line-height: 0;
  margin: 20px 0;

  &:before {
    content: '';
    height: 1px;
    width: 70px;
    background: #b3b7bd;
    display: inline-block;
  }

  .style-sapphire & {
    margin-bottom: 12px;

    &:before {
      height: 4px;
      width: 50px;
    }
  }
}

.style-sapphire {
  &.columns {
    margin-left: 0;
    margin-right: 0;
  }
  .column {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (max-width: 549px) {
    .column--image {
      padding-bottom: 0;
    }
    .column--desc {
      padding-top: 0;
    }
    .pa__property-inner {
      display: block;
      width: 90%;
      margin: -1rem auto 0;
      position: relative;
      background: white;
      border-color: white;
    }
  }
}

@media screen and (min-width: 550px) {
  .pa__properties.columns {
    display: flex;
  }
  .pa__property.column.is-half {
    flex: none;
    width: 50%;
  }
}

// -------------- Email pages ----------
.pa__page {
  width: 100%;
  height: 100%;
  background: white;
  overflow: auto;
}

.pa__page-heading-section {
  padding-bottom: 0;
}
.pa__page-footer-section {
  padding-bottom: 0;
  padding-top: 0;
}
.pa__page-outro {
  padding-bottom: 1.5rem;
}
.pa__page-signature {
  padding: 5px 0;

  .content.is-small p {
    margin-bottom: 0.4em;
  }
  .columns {
    color: initial;
  }

  &.pa__everest {
    border-top: 5px solid currentColor;
    border-bottom: 5px solid currentColor;
  }
  &.pa__haussmann {
    border-top: 5px solid currentColor;
  }
}
.pa__ps__column-logo {
  min-width: 100px;
  .pa__haussmann & {
    min-width: 250px;
  }
}
