---
layout: base-no-footer
agent: sample
---

<link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
-->
<link rel="stylesheet" href="{{ '/assets/css/email-sample.css' | relative_url }}">

{% if include.agent %}
{% assign agent = include.agent %}
{% else %}
{% assign agent = site.data.agents.sample %}
{% endif %}

{% if agent.primaryColour %}
{% include email-agent-style.html primaryColour=agent.primaryColour%}
{% endif %}

<section class="section">
  <div class="container max-width-email">

    <div class="pa__properties style-modern columns">
      {% for property in site.data.properties-en.properties %}
      <div class="pa__property column is-half">
        <div class="pa__property-inner">
          <a href="#">
            <figure class="image is-3by2">
              <img src="{{ property.image | absolute }}" alt="{{property.alt}}">
            </figure>
          </a>
          <div class="pa__description">
            <a class="pa__title is-clearfix has-text-centered is-uppercase" href="#">
              {{property.title}}
            </a>
            <a class="pa__subtitle has-text-grey-dark has-text-centered is-uppercase" href="#">
              {{agent.email}}
            </a>
            <div class="pa__short-hr"></div>

            <p class="pa__p has-text-grey-dark has-text-centered">
              {{property.description | truncate: 105}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
