---
layout: base-no-footer
agent: sample
---

<link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
-->
<link rel="stylesheet" href="{{ '/assets/css/email-sample.css' | relative_url }}">

{% if include.agent %}
{% assign agent = include.agent %}
{% else %}
{% assign agent = site.data.agents.sample %}
{% endif %}

{% if agent.primaryColour %}
{% include email-agent-style.html primaryColour=agent.primaryColour%}
{% endif %}

<section class="section">
  <div class="container max-width-email">

    <div class="pa__properties style-natural columns">
      {% for property in site.data.properties-en.properties %}
      <div class="pa__property column is-half">
        <div class="pa__property-inner">
          <a href="#">
            <figure class="image is-3by2">
              <img src="{{ property.image | absolute }}" alt="{{property.alt}}">
            </figure>
          </a>
          <a class="pa__title is-clearfix has-text-right" href="#">
            <span class="has-text-left" style="float: left">{{property.title}}</span>
            <!--<span class="pa__title__price">{{property.price}}</span>-->
          </a>
          <p class="pa__p has-text-grey-dark">
            {{property.description | truncate: 105}}
          </p>
          <a class="pa__subtitle has-text-grey" href="#">{{agent.email}}</a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
