---
layout: base-no-footer
agent: sample
---

<link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
-->
<link rel="stylesheet" href="{{ '/assets/css/email-sample.css' | relative_url }}">

{% if include.agent %}
{% assign agent = include.agent %}
{% else %}
{% assign agent = site.data.agents.sample %}
{% endif %}

{% if agent.primaryColour %}
{% include email-agent-style.html primaryColour=agent.primaryColour%}
{% endif %}

<section class="section">
  <div class="container max-width-email">

    <div class="pa__properties style-sapphire columns">
      {% for property in site.data.properties-en.properties %}
      <div class="pa__property column is-half column--image">
        <a href="#">
          <figure class="image is-3by2">
            <img src="{{ property.image | absolute }}" alt="{{property.alt}}">
          </figure>
        </a>
      </div>

      <div class="pa__property column is-half column--desc">
        <div class="pa__property-inner">
          <a class="pa__title is-clearfix has-text-centered" href="#">
            {{property.title}}
          </a>
          <div class="pa__short-hr"></div>
          <a class="pa__subtitle has-text-grey-dark has-text-centered" href="#">
            {{agent.email}}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
