---
layout: base
---
{%- include pages_top_includes.html -%}

<section class="hero is-medium lk-pages-hero" style="
{% if page.background %}background: #{{ page.background }};{% endif %}
">
  <div class="container">
    <img src="{{ page.poster | relative }}" alt="{{ page.posterAlt }}">
  </div>
</section>

<header class="section lk-pages-header" style="{% if page.foreground %}color: #{{ page.foreground}};{% endif %}">
  <span class="lk-triangle"></span>
  <span class="lk-triangle" style="
    {% if page.background %}color: #{{ page.background }};{% endif %}
  "></span>
  <div class="container">
    <h1 class="post-title title is-1">{{ page.title | escape }}</h1>
    {% if page.subtitle %}
    <h2 class="subtitle is-4">{{ page.subtitle | escape }}</h2>
    {% endif %}
  </div>
</header>


<article class="lk-pages-content section">
  <div class="container">
    {{ content }}
  </div>
</article>