---
layout: base
---
{%- include pages_top_includes.html -%}

<section class="hero is-medium lk-posts-hero">
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        <div class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="{{ site.baseurl }}{% link index.html %}">Home</a>
            <a class="navbar-item" href="{{ site.baseurl }}{% link index.html %}#works">Portfolio</a>
            <a class="navbar-item" href="{{ site.baseurl }}{% link blog.html %}">Blog</a>
            <span class="navbar-item">
              <a class="button is-warning" href="{{ site.baseurl }}{% link index.html %}#get-in-touch">
                Work with me
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ page.title | escape }}
      </h1>
      {%- if page.subtitle -%}
        <h2 class="subtitle">
          {{ page.subtitle | escape }}
        </h2>
      {%- endif -%}
    </div>
  </div>
</section>

<article class="lk-page-content section">
  <div class="container">
    {{ content }}
  </div>
</article>