---
layout: base
---
{%- include pages_top_includes.html -%}
{% include main_navigation.html %}

<div class="container lk-pages-author">
  <div class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </p>
    </figure>
    <div class="media-content">
      <h5>Lauriane Kayungu</h5>
      <p>some line about what I do and etc etc plus more text etc etc and et cetera</p>
    </div>
  </div>
</div>

<section class="hero is-medium lk-posts-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ page.title | escape }}
      </h1>
      {%- if page.subtitle -%}
        <h2 class="subtitle">
          {{ page.subtitle | escape }}
        </h2>
      {%- endif -%}
    </div>
  </div>
</section>

<article class="lk-page-content section">
  <div class="container">
    {{ content }}
  </div>
</article>